# ============================================================
# Metin2Bausia — game server config (TMP4 template)
# UPRAVIT před nasazením: IP adresy, hesla, cesty
# ============================================================

CHANNEL           = 1
HOSTNAME          = game1
PORT              = 13000
P2P_PORT          = 13900

DB_ADDR           = mt2-db
DB_PORT           = 15000

MAP_ALLOW         = 1 21 22 23 24 25 26 27 41 42 43

EXP_RATE          = 1
ITEM_DROP_RATE    = 1
YANG_DROP_RATE    = 1
DEFAULT_VIEW_DIST = 5000

LOG_LEVEL         = 0
