<nav class="flex-column">
    <div class="nav-item">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <span class="oi oi-home" /> Dashboard
        </NavLink>
    </div>
    <div class="nav-item">
        <NavLink class="nav-link" href="items">
            <span class="oi oi-list-rich" /> Itemy (pending)
        </NavLink>
    </div>
    <div class="nav-item">
        <NavLink class="nav-link" href="mobs">
            <span class="oi oi-bug" /> Mobové (pending)
        </NavLink>
    </div>
    <div class="nav-item">
        <NavLink class="nav-link" href="review">
            <span class="oi oi-warning" /> Ruční review
        </NavLink>
    </div>
    <div class="nav-item">
        <NavLink class="nav-link" href="reports">
            <span class="oi oi-bar-chart" /> Agent reporty
        </NavLink>
    </div>
</nav>
