# ============================================================
# Metin2Bausia — DB server konfigurace (TMP4)
# ============================================================

BIND_PORT           = 15000

# MySQL připojení
SQL_ACCOUNT_HOST    = mt2-mysql
SQL_ACCOUNT_PORT    = 3306
SQL_ACCOUNT_USER    = root
SQL_ACCOUNT_PASS    = bausia_root_secret
SQL_ACCOUNT_DB      = account

SQL_PLAYER_HOST     = mt2-mysql
SQL_PLAYER_PORT     = 3306
SQL_PLAYER_USER     = root
SQL_PLAYER_PASS     = bausia_root_secret
SQL_PLAYER_DB       = player

SQL_COMMON_HOST     = mt2-mysql
SQL_COMMON_PORT     = 3306
SQL_COMMON_USER     = root
SQL_COMMON_PASS     = bausia_root_secret
SQL_COMMON_DB       = common

SQL_LOG_HOST        = mt2-mysql
SQL_LOG_PORT        = 3306
SQL_LOG_USER        = root
SQL_LOG_PASS        = bausia_root_secret
SQL_LOG_DB          = log

# Bezpečnost — povolené IP adresy game serverů (interní síť)
ALLOWED_IP          = 172.0.0.0/8

# Cache
PLAYER_ID_START     = 1
GUILD_ID_START      = 1
